<!DOCTYPE html>
<html lang="nl">
<head>
  <meta charset="UTF-8" />
  <title>HAdecoracies</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Rouge+Script" rel="stylesheet">
  {{ style('css/style') }}
  {{ style('css/viewer.min.css') }}
</head>
<body id="page">
  <header id="home">
  <div class="content">
      <img src="images/logo.jpg" alt="HAdecoraties">
      <nav id="nav">
        <a href="#home" class="slideTo">Home</a>
        <a href="#welkom" class="slideTo">Welkom</a>
        <a href="#producten" class="slideTo">Producten</a>
        <a href="#contact" class="slideTo">Contact</a>
        <span class="clearfix"></span>
        <a class="icon-facebook" href="https://facebook.com/HAdecoraties"></a>
        <a class="icon-pinterest" href="https://pinterest.com/HAdecoraties"></a>
        <a class="icon-whatsapp" href="tel:+33 6 45 24 13 66"></a>
      </nav>
      <div id="mobile-nav-button"></div>
    </div>
  </header>
  <div id="bounce"></div>
  <div id="cache"></div>
  <section id="banner">
    <div id="bottom-slide" class="active"></div>
  </section>
  <section id="producten">
    <h2 class="title">Producten</h2>
    <div id="products">
      @each(image in producten.data)
      <div class="item">
          <div class="content" style="background-image: url({{image.images[2].source}})">
              <img data-viewer="{{image.images[0].source}}" src="{{image.images[0].source}}">
              <div class="button"></div>
              <i class="icon-info"></i>
          </div>
      </div>
      @endeach
    </div>
  </section>
  <section id="contact">
    <h2 class="title">Contact</h2>
    <div class="content">
      <div class="part">
        <a href="tel:+33 6 45 24 13 66"><i class="icon-phone"></i><span>+33 6 45 24 13 66</span></a>
        <a href="mailto:hadecoraties@gmail.com"><i class="icon-mail"></i><span>hadecoraties@gmail.com</span></a>
        <a href="https://pinterest.com/HAdecoraties"><i class="icon-pinterest"></i><span>pinterest.com/HAdecoraties</span></a>
        <a href="tel:+33 6 45 24 13 66"><i class="icon-whatsapp"></i><span>+33 6 45 24 13 66</span></a>
        <a href="https://facebook.com/HAdecoraties"><i class="icon-facebook"></i><span>facebook.com/HAdecoraties</span></a>
      </div>
      <form action="{{ route('HomeController.mail') }}" method="post" class="part">
        <input type="text" name="name" placeholder="Naam">
        {{ elIf('<div class="error-card">$self</div>', getErrorFor('name'), hasErrorFor('name')) }}
        <input type="email" name="email" placeholder="Email">
        {{ elIf('<div class="error-card">$self</div>', getErrorFor('email'), hasErrorFor('email')) }}
        <input type="tel" name="tel" placeholder="Telefoon">
        {{ elIf('<div class="error-card">$self</div>', getErrorFor('tel'), hasErrorFor('tel')) }}
        <textarea name="message" placeholder="Mjn vraag"></textarea>
        {{ elIf('<div class="error-card">$self</div>', getErrorFor('message'), hasErrorFor('message')) }}
        {{ csrfField() }}
        <input type="submit" value="Sturen">
      </form>
    </div>
  </section>
  <section id="copyright">
    <div class="content">
      <p>Copyright 2018 © - All rights reserved - Made by <a href="https://www.draftman.fr">DraftMan</a></p>
      <div class="icons">
        <a href="https://facebook.com/HAdecoraties" class="icon-facebook"></a>
        <a href="https://pinterest.com/HAdecoraties" class="icon-pinterest"></a>
        <a href="tel:+33 6 45 24 13 66" class="icon-whatsapp"></a>
      </div>
    </div>
  </section>
  {{script('js/viewer.min.js')}}
  {{script('js/app')}}
</body>
</html>