<!DOCTYPE html>
<html lang="nl">
<head>
  <meta charset="UTF-8" />
  <title>HAdecoracies</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Rouge+Script" rel="stylesheet">
  {{ style('css/style') }}
</head>
<body>
  <header>
  <div class="content">
      <img src="images/logo.jpg" alt="HAdecoraties">
      <nav>
        <a href="">Home</a>
        <a href="">Welkom</a>
        <a href="">Producten</a>
        <a href="">Contact</a>
        <span class="clearfix"></span>
        <a class="icon" href="">icon</a>
        <a class="icon" href="">icon</a>
      </nav>
    </div>
  </header>
  <section id="banner">
    <div class="bottom-slide"></div>
  </section>
  <section id="production">
    <h2 class="title">Producten</h2>
    <div class="products">
      <div class="item">
        <div class="content">
          <div class="button"></div>
        </div>
      </div>
      <div class="item">
        <div class="content">
          <div class="button"></div>
        </div>
      </div>
      <div class="item">
        <div class="content">
          <div class="button"></div>
        </div>
      </div>
      <div class="item">
        <div class="content">
          <div class="button"></div>
        </div>
      </div>
      <div class="item">
        <div class="content">
          <div class="button"></div>
        </div>
      </div>
      <div class="item">
        <div class="content">
          <div class="button"></div>
        </div>
      </div>
      <div class="item">
        <div class="content">
          <div class="button"></div>
        </div>
      </div>
      <div class="item">
        <div class="content">
          <div class="button"></div>
        </div>
      </div>
      <div class="item">
        <div class="content">
          <div class="button"></div>
        </div>
      </div>
      <div class="item">
        <div class="content">
          <div class="button"></div>
        </div>
      </div>
      <div class="item">
        <div class="content">
          <div class="button"></div>
        </div>
      </div>
      <div class="item">
        <div class="content">
          <div class="button"></div>
        </div>
      </div>
    </div>
  </section>
  <section id="contact">
    <h2 class="title">Contact</h2>
    <div class="content">
      <div class="part">
        <a href=""><i></i><span>+33 1 56 45 54 44</span></a>
        <a href=""><i></i><span>hadecoraties@gmail.com</span></a>
        <a href=""><i></i><span>pinterest.com/HAdecoraties</span></a>
        <a href=""><i></i><span>+33 1 56 45 54 44</span></a>
        <a href=""><i></i><span>facebook.com/HAdecoraties</span></a>
      </div>
      <form action="" method="post" class="part">
        <input type="text" placeholder="Naam">
        <input type="email" placeholder="Email">
        <input type="tel" placeholder="Telefoon">
        <textarea name="message" placeholder="Mjn vraag"></textarea>
        <input type="submit" value="Sturen">
      </form>
    </div>
  </section>
</body>
</html>