<!DOCTYPE html>
<html lang="nl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Content-Type" content="text/html"/>

  <meta name="apple-mobile-web-app-capable" content="yes" />

  <title>HAdecoracies</title>

  <meta name="description" content="HAdecoraties is van maart 2016. Wij willen graag op kleine schaal exclusieve artikelen maken. Denk aan kussens, babyartikelen, toilettassen en nieuw in ons assortiment zijn de rugtassen. Handdoeken en baby- / kinderartikelen bijvoorbeeld borduren wij op verzoek met naam of zomaar een sprekende tekst.">

  <link rel="shortcut icon" href="/images/favicon.jpg" type="image/ico" />

  <meta name="author" content="DraftMan">
  <meta name="copyright" content="HAdecoraties">

  <meta name="theme-color" content="#E67999">
  <meta name="apple-mobile-web-app-status-bar-style" content="#E67999">
  <meta name="msapplication-navbutton-color" content="#E67999">

  <meta property="og:title" content="HAdecoracies">
  <meta property="og:description" content="HAdecoraties is van maart 2016. Wij willen graag op kleine schaal exclusieve artikelen maken. Denk aan kussens, babyartikelen, toilettassen en nieuw in ons assortiment zijn de rugtassen. Handdoeken en baby- / kinderartikelen bijvoorbeeld borduren wij op verzoek met naam of zomaar een sprekende tekst.">
	<meta property="og:type" content="website">
	<meta property="og:locale" content="nl_NL">
	<meta property="og:site_name" content="HAdecoraties.nl">
	<meta property="og:image" content="https://www.hadecoraties.nl/images/favicon.jpg">
	<meta property="og:image:secure_url" content="https://www.hadecoraties.nl/images/favicon.jpg">

  <meta name="twitter:title" content="HAdecoracies">
  <meta name="twitter:description" content="HAdecoraties is van maart 2016. Wij willen graag op kleine schaal exclusieve artikelen maken. Denk aan kussens, babyartikelen, toilettassen en nieuw in ons assortiment zijn de rugtassen. Handdoeken en baby- / kinderartikelen bijvoorbeeld borduren wij op verzoek met naam of zomaar een sprekende tekst.">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:creator" content="@DraftMan_Dev">
  <meta name="twitter:image:src" content="https://www.hadecoraties.nl/images/favicon.jpg">

  <meta name="generator" content="VSCode">

  <link rel="canonical" href="https://www.hadecoraties.nl/" />
  <meta property="og:url" content="https://www.hadecoraties.nl/">

  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Rouge+Script" rel="stylesheet">
  {{ style('css/style.min') }}
  {{ style('css/viewer.min.css') }}
</head>
<body id="page">
  <header id="home">
  <div class="content">
      <img src="images/logo.jpg" alt="HAdecoraties">
      <nav id="nav">
        <a href="#home" class="slideTo">Home</a>
        <a href="#welkom" class="slideTo">Welkom</a>
        <a href="#producten" class="slideTo">Producten</a>
        <a href="#contact" class="slideTo">Contact</a>
        <span class="clearfix"></span>
        <a class="icon-facebook" href="https://facebook.com/HAdecoraties" target="blank"></a>
        <a class="icon-pinterest" href="https://pinterest.com/HAdecoraties" target="blank"></a>
        <a class="icon-whatsapp" href="javascript:void(0)" onclick="prompt('Hier is het telefoonnummer dat u aan whatsegen kunt toevoegen','06 45 24 13 66')"></a>
      </nav>
      <div id="mobile-nav-button"></div>
    </div>
  </header>
  <div id="bounce"></div>
  <div id="cache"></div>
  <section id="banner">
    <div id="bottom-slide" class="active"></div>
  </section>
  <section id="producten">
    <h2 class="title">Producten</h2>
    <div id="products">
      @each(image in producten.data)
      <div class="item">
          <div class="content" style="background-image: url({{image.images[2].source}})">
              <img data-viewer="{{image.images[0].source}}" src="{{image.images[0].source}}">
              <div class="button"></div>
              <i class="icon-info"></i>
          </div>
      </div>
      @endeach
    </div>
  </section>
  <section id="contact">
    <h2 class="title">Contact</h2>
    <div class="content">
      <div class="part">
        <a href="javascript:void(0)" onclick="prompt('Hier is het telefoonnummer dat u aan whatsegen kunt toevoegen','06 45 24 13 66')"><i class="icon-phone"></i><span>06 45 24 13 66</span></a>
        <a href="mailto:hadecoraties@gmail.com" target="blank"><i class="icon-mail"></i><span>hadecoraties@gmail.com</span></a>
        <a href="https://pinterest.com/HAdecoraties" target="blank"><i class="icon-pinterest"></i><span>pinterest.com/HAdecoraties</span></a>
        <a href="javascript:void(0)" onclick="prompt('Hier is het telefoonnummer dat u aan whatsegen kunt toevoegen','06 45 24 13 66')"><i class="icon-whatsapp"></i><span>06 45 24 13 66</span></a>
        <a href="https://facebook.com/HAdecoraties" target="blank"><i class="icon-facebook"></i><span>facebook.com/HAdecoraties</span></a>
      </div>
      <form action="{{ route('HomeController.mail') }}" method="post" class="part">
        <input type="text" name="name" placeholder="Naam">
        {{ elIf('<div class="error-card">$self</div>', getErrorFor('name'), hasErrorFor('name')) }}
        <input type="email" name="email" placeholder="Email">
        {{ elIf('<div class="error-card">$self</div>', getErrorFor('email'), hasErrorFor('email')) }}
        <input type="tel" name="tel" placeholder="Telefoon">
        {{ elIf('<div class="error-card">$self</div>', getErrorFor('tel'), hasErrorFor('tel')) }}
        <textarea name="message" placeholder="Mjn vraag"></textarea>
        {{ elIf('<div class="error-card">$self</div>', getErrorFor('message'), hasErrorFor('message')) }}
        {{ csrfField() }}
        <input type="submit" value="Sturen">
      </form>
    </div>
  </section>
  <section id="copyright">
    <div class="content">
      <p>Copyright 2018 © - All rights reserved - Made by <a href="https://www.draftman.fr" target="blank">DraftMan</a></p>
      <div class="icons">
        <a href="https://facebook.com/HAdecoraties" target="blank" class="icon-facebook"></a>
        <a href="https://pinterest.com/HAdecoraties" target="blank" class="icon-pinterest"></a>
        <a href="javascript:void(0)" onclick="prompt('Hier is het telefoonnummer dat u aan whatsegen kunt toevoegen','06 45 24 13 66')" class="icon-whatsapp"></a>
      </div>
    </div>
  </section>
  {{script('js/viewer.min.js')}}
  {{script('js/app')}}
</body>
</html>
