*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
header{
    background-color: #3D3D3F;
    display: flex;
    align-items: center;
    height: 90px;
    justify-content: center
}
header .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    max-width: 1150px;
    margin: 0 30px
}

header img{
    height: 100%;
}

header nav a{
    text-decoration: none;
    color: white;
    padding: 20px 15px;
    vertical-align: middle
}
header nav a[class^="icon-"]{
    padding: 20px 3px;
    margin: 0 6px;
    transition: 0.3s color;
}

header nav a[class^="icon-"]:hover{
    color: #E67999
}

header nav .clearfix{
    height: 100%;
    padding: 20px 10px;
}

header nav a.icon{
    padding: 40px 5px;
}

#mobile-nav-button {
    display: none;
    margin-right: 10px;
    width: 27px;
    height: 20px;
    background-image: url(../images/burger.png);
    background-size: 27px 20px;
    -webkit-transition: opacity .15s ease-in;
    -moz-transition: opacity .15s ease-in;
    -o-transition: opacity .15s ease-in;
    transition: opacity .15s ease-in;
    cursor: pointer;
}

#banner{
    background-image: url(../images/hero.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: calc(100vh - 90px);
    display: flex;
    justify-content: center;
}


#banner #bottom-slide.active{
    position: absolute;
    height: 36px;
    width: 36px;
    border-bottom: 10px solid #E67999;
    border-right: 10px solid #E67999;
    bottom: 30px;
    transform: rotate(45deg);
    box-shadow: 2px 2px 3px #444444d4;
    animation: 1s up-down ease-in-out infinite;
}

#producten{
    background-color: #3D3D3F;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 80px 0 120px;
    align-items: center;
    position: relative;
    overflow-x: hidden;
}

#producten:before{
    content: '';
    position: absolute;
    border-bottom: 70px solid #5F5F62;
    border-right: 100vw solid transparent;
    bottom: 0;
    left: 0;
}

#producten .title,#contact .title{
    color: #fff;
    font-family: 'Rouge Script', cursive;
    font-size: 50px;
    font-weight: normal;
    text-align: center;
    margin-bottom: 20px;
}
#producten .products{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    max-width: 1150px;
    width: 100%;
    margin: 0 30px;
}

#producten .products .item{
    width: 25%;
    padding: 10px;
    float: left;
}

#producten .products .item .content{
    height: 180px;
    background-color: #C4C4C4;
    position: relative;
    transition: all 0.6s;
}

#producten .products .item:hover .content{
    transform: scale(1.02);
    box-shadow: 0 0 10px #e7e7e7fd
}

#producten .products .item .content .button{
    position: absolute;
    bottom: 0;
    right: 0;
    border-bottom: 60px solid #E67999;
    border-left: 60px solid transparent;
    transition: all 0.3s ease-in-out;
    border-top-left-radius: 100%;
}

#producten .products .item .content .button:hover{
    border-bottom: 70px solid #E67999;
	border-left: 70px solid transparent;
}

#contact{
    background-color: #5F5F62;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 60px 0 80px;
}
#contact .content{
    display: flex;
    width: 100%;
    max-width: 780px;
}
#contact .part{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 15px
}
#contact .part a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    margin: 16px 0;
    display: flex;
    align-items: center;
    transition: 0.3s color;
}
#contact .part a:hover{
    color: #E67999
}
#contact .part a i{
    font-size: 30px;
}
#contact .part a span{
    margin-left: 15px
}

#contact form input,#contact form textarea{
    padding: 13px 20px;
    margin-bottom: 10px;
    width: 100%;
    border-radius: 5px;
    border: none;
    font-size: 16px
}

#contact form textarea{
    min-height: 100px;
    resize: vertical
}

#contact form input[type=submit]{
    background-color: #E67999;
    margin-bottom: 0;
    color: #fff;
    font-family: 'Rouge Script', cursive;
    font-size: 27px;
    padding: 8px 20px;
}

#copyright{
    width: 100%;
    background-color: #303030;
    display: flex;
    justify-content: center;
    height: 50px;
    color: #E67999
}

#copyright .content{
    width: 100%;
    max-width: 1150px;
    margin: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#copyright p{
    text-align: center;
}

#copyright a{
    color: #E67999
}

#copyright .icons a{
    text-decoration: none;
    margin: 0 5px
}

@keyframes up-down{
    0%{
        transform: translateY(10px) rotate(45deg);
    }
    50%{
        transform: translateY(-10px) rotate(45deg);
    }
    100%{
        transform: translateY(10px) rotate(45deg);
    }
}

@media only screen and (max-width:480px) {
    header {
        z-index: 1001;
        height: 66px;
        text-align: center;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
    }

    #bounce{
        height: 66px;
    }

    header .content {
        justify-content: space-between;
        margin: 0 5px
    }

    header img {
        height: 90%;
        margin: 0;
    }

    header nav.open {
        transform: none !important;
    }

    header nav {
        display: block;
        z-index: 1000;
        position: fixed;
        top: 66px;
        bottom: 0;
        left: 0;
        width: 190px;
        height: 100vh;
        background: #3D3D3F;
        transition: transform .3s;
        transform: translate3d(-190px, 0, 0);
    }

    header nav a:first-child {
        border-top: 1px solid #505050;
    }

    header nav a {
        display: block;
        float: none;
        width: 100% !important;
        height: 66px;
        padding: 0;
        border-bottom: 1px solid #505050;
        line-height: 66px;
        color: #987982;
        transition: color .4s, background .3s, border .1s;
        transform: translateZ(0);
    }

    header nav a:focus,
    header nav a:hover {
        color: #E67999;
        background-color: #444446;
    }

    header nav {
        display: block;
    }

    #mobile-nav-button {
        display: block;
    }

    #cache.active {
        z-index: 998;
        position: absolute;
        top: 66px;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, .4);
    }

    #contact .content{
        flex-direction: column;
    }

    #copyright .icons,header nav .clearfix,header nav a[class^="icon-"]{
        display: none
    }

    #producten{
        padding: 80px 0;
    }

    #producten .products .item{
        width: 100%;
    }

    #producten:before {
        border-bottom: 30px solid #5F5F62;
    }

    #banner #bottom-slide.active{
        bottom: 60px;
    }
    body.overflow {
        overflow-y: hidden;
    }
}

/** Icons */

@font-face {
    font-family: 'hadecoraties';
    src:  url('../fonts/hadecoraties.eot?rmtyrc');
    src:  url('../fonts/hadecoraties.eot?rmtyrc#iefix') format('embedded-opentype'),
      url('../fonts/hadecoraties.ttf?rmtyrc') format('truetype'),
      url('../fonts/hadecoraties.woff?rmtyrc') format('woff'),
      url('../fonts/hadecoraties.svg?rmtyrc#hadecoraties') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class^="icon-"]{
    font-family: 'hadecoraties' !important;
    font-size: 26px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-info:before {
    content: "\e900";
}
.icon-mail:before {
    content: "\e901";
}
.icon-phone:before {
    content: "\e902";
}
.icon-pinterest:before {
    content: "\e903";
}
.icon-whatsapp:before {
    content: "\e904";
}
.icon-facebook:before {
    content: "\e905";
}