*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
header{
    background-color: #3D3D3F;
    display: flex;
    align-items: center;
    height: 90px;
    justify-content: center
}
header .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    max-width: 1150px;
    margin: 0 30px
}

header img{
    height: 100%;
}

header nav a{
    text-decoration: none;
    color: white;
    padding: 20px 15px;
}

header nav .clearfix{
    height: 100%;
    padding: 20px 10px;
}

header nav a.icon{
    padding: 40px 5px;
}

#banner{
    background-image: url(../images/hero.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: calc(100vh - 90px);
    display: flex;
    justify-content: center;
}
#banner .bottom-slide{
    position: absolute;
    height: 36px;
    width: 36px;
    border-bottom: 10px solid #E67999;
    border-right: 10px solid #E67999;
    bottom: 30px;
    transform: rotate(45deg);
    box-shadow: 2px 2px 3px #444444d4;
    animation: up-down 1s infinite ease-out;
}

#production{
    background-color: #3D3D3F;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 80px 0 120px;
    align-items: center;
    position: relative;
    overflow-x: hidden;
}

#production:before{
    content: '';
    position: absolute;
    border-bottom: 70px solid #5F5F62;
    border-right: 100vw solid transparent;
    bottom: 0;
    left: 0;
}

#production .title,#contact .title{
    color: #fff;
    font-family: 'Rouge Script', cursive;
    font-size: 50px;
    font-weight: normal;
    text-align: center;
    margin-bottom: 20px;
}
#production .products{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    max-width: 1150px;
    width: 100%;
    margin: 0 30px;
}

#production .products .item{
    width: 25%;
    padding: 10px;
    float: left;
}

#production .products .item .content{
    height: 180px;
    background-color: #C4C4C4;
    position: relative;
}

#production .products .item .content .button{
    position: absolute;
    bottom: 0;
    right: 0;
    border-bottom: 60px solid #E67999;
	border-left: 60px solid transparent;
}

#contact{
    background-color: #5F5F62;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 80px 0 120px;
}
#contact .content{
    display: flex;
    width: 100%;
    max-width: 780px;
}
#contact .part{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 15px
}
#contact .part a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    margin: 16px 0;
}

#contact form input,#contact form textarea{
    padding: 15px 20px;
    margin-bottom: 10px;
    width: 100%;
    border-radius: 5px;
    border: none;
    font-size: 16px
}

#contact form textarea{
    min-height: 100px;
    resize: vertical
}

#contact form input[type=submit]{
    background-color: #E67999;
    margin-bottom: 0;
    color: #fff;
    font-family: 'Rouge Script', cursive;
    font-size: 27px;
    padding: 10px 20px
}

@keyframes up-down{
    0%{
        transform: translateY(10px) rotate(45deg);
    }
    50%{
        transform: translateY(-10px) rotate(45deg);
    }
    100%{
        transform: translateY(10px) rotate(45deg);
    }
}


/* font-family: 'Open Sans', sans-serif;
font-family: 'Rouge Script', cursive; */